.dashboard-container {
    background-color: #0b0d0e;
    min-height: 100vh;
}

.recipe-maker-entrance {
    display: flex;
    justify-content: center;
    align-items: center;
}

.recipe-maker-entrance button {
    color: black;
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
   
}

.recipe-maker-entrance button:hover {
    color: white;
}

.logout-button {
    color: black;
    font-family: 'Abril Fatface', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
}

.logout-button:hover {
    color: white;
}

